[Unit]
Description=main server
Requires=sentry-worker.service
Requires=sentry-cron.service
Requires=sentry-snuba.service

[Service]
Type=simple
ExecStart=/usr/local/bin/sentry run web
Environment=SENTRY_CONF=/etc/sentry
User=sentry
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
